volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:14
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: intpoln/foodgram_backend
    env_file: .env
    volumes:
      - static:/backend_static
      - media:/app/media
      - ./data:/app/data
    depends_on:
      - db

  frontend:
    image: intpoln/foodgram_frontend
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static

  gateway:
    image: intpoln/foodgram_gateway
    env_file: .env
    ports:
      - 8000:80
    volumes:
      - static:/staticfiles/
      - media:/media
    depends_on:
      - backend
